.container{
    height: 700px;
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer{
    height: 400px;
    width: 250px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: rgb(75, 112, 64); */
    background-color: 2d5c6;
    border-radius: 10px;
}
.box1{
    width: 85%;
    height: 70px;
    border: 2px solid black;
    font-size: 30px;
    color: white;
    /* text-align: right; */
    align-content: end; 
    border-radius: 10px;
    background-color: rgb(75, 112, 64);
}
.box2{
    width: 87%;
    height: 300px;
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 10px;
    padding: 3px;
    background-color:rgb(75, 112, 64);
    border-radius: 10px;
    
}
.b1{
    background-color: white;
    border-radius: 25% 10%;
}
.b1:hover{
    box-shadow: 0 0 20px 5px rgb(9, 14, 0);
    transform: translate(4px , 3px);
}
