*{
    box-sizing: border-box;
    gap: 10px;
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content{
    display: flex;
    justify-content: center;
   padding-top: 20px;
   font-size: 40px;
   color: white;
    font-family: 'Poppins', sans-serif;
}
.images{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.text{
    display: flex;
    text-align: center;
    margin-top: 50px;
    color: white;
    margin: 20px;
    word-wrap: break-word;
     font-family: 'Poppins', sans-serif;
}
.box1{
    height: 500px;
    width: 300px;
    border-radius: 10px;
    background: radial-gradient(circle at center, #51b1b1 0%, #175d3a 80%);
    transition: all 0.5s ease;
}
.box2{
    height: 500px;
    width: 300px;
    border-radius: 10px;
    background: radial-gradient(circle at center, #51b1b1 0%, #175d3a 80%);
     transition: all 0.5s ease;
}
.box3{
    height: 500px;
    width: 300px;
    border-radius: 10px;
    background-color: black;
    background: radial-gradient(circle at center, #51b1b1 0%, #175d3a 80%);
     transition: all 0.5s ease;
}
.box1:hover {
  background: radial-gradient(circle at center, #91c857 0%, #1f4a09 80%);
  transform: scale(1.08);
  box-shadow: 0 0 25px #333838, 0 0 40px;
}
.box2:hover {
  background: radial-gradient(circle at center, #acacac 0%, #413f3f 80%);
  transform: scale(1.08);
  box-shadow: 0 0 25px #333838, 0 0 40px;
}
.box3:hover {
  background: radial-gradient(circle at center, #d2f379 0%, #a48d09 80%);
  transform: scale(1.08);
  box-shadow: 0 0 25px #333838, 0 0 40px;
}