*{
    box-sizing: border-box;
}
.parent{
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
}
.box1{
    background-color: aquamarine;
    color: black;
    text-align: center;
    padding: 10px;
    width: 30%;
    
}
.box2{
    background-color: rgb(1, 29, 19);
    color: rgb(249, 248, 248);
    text-align: center;
    padding: 10px;
    width: 30%;
}
.box3{
    background-color: aquamarine;
    color: black;
    text-align: center;
    padding: 10px;
    width: 30%;
}